<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h1>フォームから送信された値</h1>
    <table>
      <tr>
        <th>項目</th>
        <th>値</th>
      </tr>
      <tr>
        <td><%= username %></td>
        <td><%= message %></td>
      </tr>
    </table>
  </body>
</html>
